API_TOKEN=...
HIVE_ID=364
SECTION_ID=1944
CAMERA_DEVICE=0
FPS=30
WIDTH_PX=640
HEIGHT_PX=480
CONFIDENCE=0.5
DETECTION_LINE=0.5
VIDEO_CHUNK_LENGTH_SEC=60
DAY_START_HOUR=6
DAY_END_HOUR=22
VIDEO_RETENTION_MINUTES=1440
DETECT_VIDEO_WIDTH=320
DETECT_VIDEO_HEIGHT=240
DETECT_VIDEO_RETENTION_MINUTES=10
